  <div class="footer">
    <ul class="list-inline">
      <li>
        <a href="https://github.com/fguilloucamargo" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/fabiola-guilloucamargo/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <p>Design by </p>
  </div>
