.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 35px;
  margin-top:-17px;
}

.banner-text {
  display:flex;
  justify-content: center;
  flex-direction: column;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  position: align;
  text-align: center;
  padding-top: 410px;
  font-size: 50px;
  color: #313030;
}

// Small devices (phones, 376px and up)
@media (min-width: 276px) {
  .banner p {
    font-size: 28px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner p {
    font-size: 40px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner p {
    font-size: 48px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner p {
    font-size: 50px;
  }
}
