.btn {
  color: #fdb200;;
  border: 1px solid #fdb200;;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 1;
}

.btn-container {
  display: flex;
  position: center
}
