
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: center;
  margin-bottom: 50px;

}

.card {
  background: #FB5E02;
  width: 360px;
  height: 400px;
  border-radius: 5px;
  padding: 15px;
  padding-top: 65px;
  margin: 25px;
  margin-bottom: 50px;
  justify-content: space-around;
  box-shadow: 10px 10px 0px rgba(252,228,174,1);
}

.card:hover{
  box-shadow: 10px 10px 0px rgba(247,199,89,1);
}

.card-avatar {
  border: 4px solid #FB5E02;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  align-self: center;
  position: absolute;
  right: 100px;
  top: -75px;
  width: 150px;

}

.card h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin-top: 35px;
  color: #FFF5DC;
}

.card p {
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 22px;
  line-height: 14px;
  align-items: center;
  text-align: center;

  color: #FFF5DC;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
