.footer{
  background: rgb(237, 237, 237);
  // box-sizing: content-box;
  margin: auto;
  padding: 10px;
  // width: 500px;
  text-align: center;
  color: #1EA896;
  font-size:15px;
  margin-top: 20px;
  font-style: italic;
}

.list-inline li {
  display: inline;
  padding: 20px;
}

.footer a {
  color: #1EA896;
  font-size: 30px;

}
.footer a:hover {
  color:  #F1BF98;
}
