.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #fdb200;
  position: fixed-top
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
