.profile {
  height-min: 100vh;
  width: 600px;
  background-color: #fb5e02;
  margin-top: 215px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 15px;
  justify-content: center;
  box-shadow: 10px 10px 0px rgba(252,228,174,1);
  margin-left: auto;
  margin-right: auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 10px;
}

.profile-container .avatar {
  position: absolute;
  top: 100px;
  width: 240px;
  border: 4px solid #FB5E02;
}

.profile-container h3 {
  font-family: Roboto;
  margin-top: 110px;
  font-size: 48px;
  color: white;

}

.profile-container p {
  font-size: 18px;
}

ul.requests-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  margin: 0px;
  padding: 0px;


}

.list {
  display:flex;
  width: auto;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 15px;
}

.list:hover {
  background-color: #f7c759;
}

a {
 text-align: center;
 font-family: Roboto;
 color: #fb5e02;
}

a:hover {
text-decoration: none;
}

.list p {
  text-align: center;
  font-family: Roboto;
  color: #fb5e02;
  margin: 0px;
}

.date {
  display: flex;
  flex-direction: column;
}

.balles {
  display: flex;
  justify-content: center;
  text-align: center;
}

.balles img {
  width: 250px;
  justify-content: center;
  margin: 20px;
}
